:root {
  --primary-color: rgb(179, 87, 159);
  --secondary-color: #79c2f3;
}

h1,
h2,
h3 {
  font-family: "Itim", cursive;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

p {
  font-family: "Jost", sans-serif;
  margin: 0;
  font-size: 20px;
}

.hero {
}

.row-hero {
  margin: 50px 0;
  align-items: center;
}

.hero-img {
  position: relative;
}

.hero-img img {
  width: 600px;
  display: inline;
  text-align: right;
}

.text-block-lg {
  display: flex;
  position: absolute;
  top: 300px;
  left: -73px;
  background-color: var(--primary-color);
  padding: 30px;
  color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.text-block-sm {
  margin: 0 auto;
  text-align: center;
  background-color: var(--primary-color);
  max-width: 300px;
  color: white;
  padding: 20px 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.hp-second-block {
  background-color: #c7e9ff;
}

.code-image {
  margin: 60px;
  width: 80%;
}

.skills {
  padding: 20px 100px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .code-image {
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    width: 100%;
  }

  .hp-second-block {
    text-align: center;
  }

  .skills {
    padding: 40px;
    text-align: center;
  }
}
