:root {
  --primary-color: rgb(250, 178, 172);
  --secondary-color: rgb(215, 248, 247);
  --ter-color: rgb(190, 228, 210);
}

h1,
h2,
h3 {
  font-family: "Itim", cursive;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

p {
  font-family: "Jost", sans-serif;
  margin: 0;
  font-size: 20px;
}

.row-hero {
  margin: 50px 0;
  align-items: center;
}

.hero-img {
  position: relative;
}

.hero-img img {
  width: 600px;
  display: inline;
  text-align: right;
}

.text-block-lg {
  display: flex;
  position: absolute;
  top: 300px;
  left: -73px;
  background-color: var(--primary-color);
  padding: 30px;
  color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.text-block-sm {
  margin: 0 auto;
  text-align: center;
  background-color: var(--primary-color);
  max-width: 300px;
  color: white;
  padding: 20px 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.hp-second-block {
  background-color: var(--secondary-color);
}

.code-image {
  margin: 60px;
  width: 80%;
}

.skills {
  padding: 20px 100px;
}

.project-button {
  background: rgb(55, 174, 170);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  transition: 200ms all ease-in-out;
}

.project-button:hover {
  background: rgb(61, 151, 148);
  color: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.contact-box {
  border-radius: 10px;
  height: 400px;
  padding: 30px;
  margin: 30px;
  background-color: var(--secondary-color);
  text-align: center;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .code-image {
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    width: 100%;
  }

  .hp-second-block {
    text-align: center;
  }

  .skills {
    padding: 40px;
    text-align: center;
  }
}
