:root {
  --primary-color: #fab2ac;
  --secondary-color: #d7f8f7;
  --ter-color: #bee4d2;
  --title-font: "Reenie Beanie", cursive;
  --content-font: "Jost", sans-serif;
}

h1,
h2 {
  font-family: var(--title-font);
}

h3 {
  font-family: var(--content-font);
  font-weight: 700;
}

.row-hero h3 {
  font-size: 40px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 70px;
}

.main-menu-desktop {
  display: flex;
  backdrop-filter: blur(6px);
  justify-content: space-between;
  padding: 0;
  margin: 10px 0;
  font-family: var(--content-font);
  font-size: 18px;
}
.main-menu-desktop ul,
.main-menu-mobile ul {
  list-style-type: none;
}

.main-menu-desktop li {
  padding: 10px 30px;
}

.main-menu-mobile li {
  padding: 10px 20px;
}

.main-menu-desktop li a,
.main-menu-mobile li a {
  text-decoration: none;
  color: black;
}

.main-menu-desktop .active,
.main-menu-mobile .active {
  color: var(--primary-color);
  font-weight: 800;
  background: linear-gradient(to right, #d06f8c, #c8a499, #84c0c0);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-menu-desktop li a:hover {
  color: #84c0c0;
}

.logo-desktop {
  width: 230px;
  margin: 10px 0;
}

.logo-mobile {
  width: 65px;
}

.main-menu-mobile {
  display: flex;
  backdrop-filter: blur(6px);
  justify-content: space-between;
  padding: 0;
  margin: 10px 0;
  font-family: var(--content-font);
  font-size: 15px;
  visibility: hidden;
}

p,
.timeline-content li {
  font-family: var(--content-font);
  margin: 0;
  font-size: 20px;
  list-style-type: none;
  line-height: 1.5;
}

.timeline-content h3 {
  font-size: 28px;
}

.timeline-content ul {
  padding: 0;
}

.row-hero {
  margin: 50px 0;
  align-items: center;
}

.hero-img {
  position: relative;
}

.hero-img img {
  width: 600px;
  display: inline;
  text-align: right;
}

.text-block-lg {
  display: flex;
  position: absolute;
  top: 300px;
  left: -73px;
  background-color: var(--primary-color);
  padding: 30px;
  color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.text-block-sm {
  margin: 0 auto;
  text-align: center;
  background-color: var(--primary-color);
  max-width: 300px;
  color: white;
  padding: 20px 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.hp-second-block {
  background-color: var(--secondary-color);
}

.code-image {
  margin: 60px;
  width: 80%;
}

.skills {
  padding: 20px 100px;
}

.project-button {
  background: rgb(55, 174, 170);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  transition: 200ms all ease-in-out;
  margin: 0 auto;
  max-width: 50%;
}

.project-button:hover {
  background: rgb(61, 151, 148);
  color: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.contact-box {
  border-radius: 10px;
  height: 400px;
  padding: 30px;
  margin: 30px;
  background-color: var(--secondary-color);
  text-align: center;
}

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline-item {
  padding-left: 40px;
  position: relative;
  &:last-child {
    padding-bottom: 0;
  }
}

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.timeline-bg {
  background-color: var(--secondary-color);
}

.timeline-centered {
  @media (min-width: 992px) {
    &,
    .timeline-item,
    .timeline-info,
    .timeline-marker,
    .timeline-content {
      display: block;
      margin: 0;
      padding: 0;
    }
    .timeline-item {
      padding-bottom: 40px;
      overflow: hidden;
    }
    .timeline-marker {
      position: absolute;
      left: 50%;
      margin-left: -7.5px;
    }
    .timeline-info,
    .timeline-content {
      width: 50%;
    }
    > .timeline-item:nth-child(odd) .timeline-info {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    > .timeline-item:nth-child(odd) .timeline-content {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    > .timeline-item:nth-child(even) .timeline-info {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    > .timeline-item:nth-child(even) .timeline-content {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    > .timeline-item.period .timeline-content {
      float: none;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .timeline-item.period {
      padding: 50px 0 90px;
    }
    .period .timeline-marker:after {
      height: 30px;
      bottom: 0;
      top: auto;
    }
    .period .timeline-title {
      left: auto;
    }
  }
}

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  &:before {
    background: rgb(55, 174, 170);
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  &:after {
    content: "";
    width: 3px;
    background: #ccd5db;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child &:after {
    content: none;
  }
}

.timeline-content {
  padding-bottom: 40px;
  p:last-child {
    margin-bottom: 0;
  }
}

.period {
  padding: 0;
  .timeline-info {
    display: none;
  }
  .timeline-marker {
    &:before {
      background: transparent;
      content: "";
      width: 15px;
      height: auto;
      border: none;
      border-radius: 0;
      top: 0;
      bottom: 30px;
      position: absolute;
      border-top: 3px solid #ccd5db;
      border-bottom: 3px solid #ccd5db;
    }
    &:after {
      content: "";
      height: 32px;
      top: auto;
    }
  }
  .timeline-content {
    padding: 40px 0 70px;
  }
  .timeline-title {
    margin: 0;
  }
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid rgb(55, 174, 170);
}

.projects {
  align-items: center;
  justify-content: space-evenly;
}

.project-wrapper {
  background-color: #072523;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

.project-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  transition: transform 400ms ease-in-out;
}

.project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  transition: all 400ms ease-in-out;
  z-index: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: nowrap;
}

.project-wrapper:hover .project-text {
  opacity: 1;
}

.project-wrapper:hover img {
  transform: scale(1.2);
  opacity: 0.3;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .navbar {
    display: block;
  }

  .code-image {
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    width: 100%;
  }

  .hp-second-block {
    text-align: center;
  }

  .skills {
    padding: 40px;
    text-align: center;
  }

  .main-menu-desktop {
    display: none;
  }

  .main-menu-mobile {
    visibility: visible;
  }
}
